# Get your keys from:
# - Mapbox: https://www.mapbox.com/
# - Google Maps (if needed): https://console.cloud.google.com/

REACT_APP_GOOGLE_MAPS_KEY=YOUR_GOOGLE_MAPS_KEY_HERE
REACT_APP_MAPBOX_ACCESS_TOKEN=YOUR_MAPBOX_ACCESS_TOKEN_HERE
